.user img {
  width: 18px;
  height: 18px;
  border-radius: 20px;
}

.user span {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 13px;
}

.comment-body {
  margin-top: 2.5px;
  text-align: justify;
  margin-left: 13px;
}

.comment {
  margin-top: 25px;
}
