.postcard {
  padding: 25px 30px;
  background-color: #fff;
  position: relative;
  border-radius: 12px;
  width: 100%;
  height: auto;
  text-align: justify;
  font-size: 16px;
  color: #000;
  font-family: Montserrat;
  margin-bottom: 20px;
}

.removeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #0f1a1c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.editButton {
  position: absolute;
  top: 0;
  right: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #0f1a1c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.postName {
  font-size: 24px;
  line-height: 35px;
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  background-color: #003b93;
  padding: 5px 10px;
  border-radius: 25px;
}
