.spanflexIcon {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  width: 24px;
  height: 24px;
}

.home {
  position: absolute;
  top: 5px;
  left: 30px;
  line-height: 15px;
}

.spanflex1,
.spanflexParent {
  position: absolute;
  top: calc(50% - 12px);
  left: -30px;
  width: 63px;
  height: 24px;
}

.spanflex1 {
  left: 30px;
  width: 28.02px;
}

.spanflex,
.spanflexWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
}

.spanflex {
  height: 100%;
  bottom: 0;
}

.spanflexWrapper {
  height: calc(100% - 30px);
  bottom: 30px;
}

.spanflex3,
.spanflexGroup {
  position: absolute;
  top: calc(50% - 12px);
  left: -30px;
  width: 72px;
  height: 24px;
}

.spanflex3 {
  left: 30px;
  width: 36.2px;
}

.groupParent,
.spanflex2,
.spanflexContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 66.2px;
}

.spanflex2 {
  height: 100%;
  top: 0;
}

.groupParent,
.spanflexContainer {
  height: calc(100% - 30px);
  top: 30px;
}

.groupParent {
  height: calc(100% + 24px);
  top: -26px;
  bottom: 2px;
  left: 12px;
}

.faceplateTrackerLink {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 42px;
  right: 0.5px;
  left: 0;
  border-radius: 6px;
  height: 30px;
  color: #0c151c;
}

.separator {
  position: absolute;
  width: 100%;
  top: 82px;
  right: 0;
  left: 0;
  border-bottom: 0.8px solid rgba(90, 90, 90, 0.2);
  box-sizing: border-box;
  height: 1px;
  overflow: hidden;
}

.summaryFaceplateTracker {
  position: absolute;
  top: 2.03px;
  left: 0;
  letter-spacing: 0.9px;
  line-height: 12px;
  display: flex;
  align-items: center;
  width: 39.01px;
  height: 10.52px;
}

.summaryFaceplateTracker1 {
  position: absolute;
  top: calc(50% - 7.52px);
  left: calc(50% + 65.96px);
  width: 15.04px;
  height: 15.03px;
  overflow: hidden;
}

.summaryFaceplateTrackerParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 162px;
  height: 15.03px;
  color: #0c151c;
}

.faceplateAutoHeightAnimatorIcon,
.faceplateAutoHeightAnimatorIcon1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% + 59px);
  width: 15px;
  height: 15px;
  overflow: hidden;
}

.faceplateAutoHeightAnimatorIcon1 {
  left: calc(50% - 32.5px);
  width: 16px;
  height: 16px;
}

.faceplateAutoHeightAnimator {
  position: absolute;
  top: 0;
  left: 22px;
  line-height: 15px;
}

.faceplateAutoHeightAnimatorGroup {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 74px);
  width: 65px;
  height: 16px;
}

.faceplateAutoHeightAnimatorParent {
  position: relative;
  width: 148px;
  height: 16px;
}

.faceplateAutoHeightAnimatorIcon3 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 26.25px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.faceplateAutoHeightAnimator1 {
  position: absolute;
  top: 2px;
  left: 22px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 30.5px;
  height: 12px;
}

.faceplateAutoHeightAnimatorIcon5,
.groupDiv {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 74px);
  width: 52.5px;
  height: 16px;
}

.faceplateAutoHeightAnimatorIcon5 {
  left: calc(50% - 32.38px);
  width: 16px;
  overflow: hidden;
}

.faceplateAutoHeightAnimator2 {
  position: absolute;
  top: 2px;
  left: 22px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 42.76px;
  height: 12px;
}

.faceplateAutoHeightAnimatorIcon7,
.faceplateAutoHeightAnimatorParent2 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 74px);
  width: 64.76px;
  height: 16px;
}

.faceplateAutoHeightAnimatorIcon7 {
  left: calc(50% - 26.54px);
  width: 16px;
  overflow: hidden;
}

.faceplateAutoHeightAnimator3 {
  position: absolute;
  top: 2px;
  left: 22px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 31.07px;
  height: 12px;
}

.faceplateAutoHeightAnimatorParent4 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 74px);
  width: 53.07px;
  height: 16px;
}

.faceplateAutoHeightAnimatorParent3 {
  position: relative;
  width: 148px;
  height: 16px;
  font-size: 10.42px;
}

.faceplateAutoHeightAnimatorIcon9 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 34.13px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.faceplateAutoHeightAnimator4 {
  position: absolute;
  top: 2px;
  left: 22px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 46.26px;
  height: 12px;
}

.faceplateAutoHeightAnimatorIcon10,
.faceplateAutoHeightAnimatorParent6 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 74px);
  width: 68.26px;
  height: 16px;
}

.faceplateAutoHeightAnimatorIcon10 {
  left: calc(50% - 31.79px);
  width: 16px;
  overflow: hidden;
}

.faceplateAutoHeightAnimator5 {
  position: absolute;
  top: 2px;
  left: 22px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 41.59px;
  height: 12px;
}

.faceplateAutoHeightAnimatorParent7 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 74px);
  width: 63.59px;
  height: 16px;
}

.frameDiv {
  position: absolute;
  top: 29.03px;
  left: 14px;
  width: 148px;
  height: 166px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  font-size: 10.5px;
}

.seeMore {
  position: absolute;
  top: 0.75px;
  left: calc(50% - 20.75px);
  line-height: 22.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40.67px;
  height: 22.5px;
}

.faceplateAutoHeightAnimator6 {
  position: absolute;
  top: 205.03px;
  left: -6px;
  border-radius: 750px;
  width: 58px;
  height: 24px;
  overflow: hidden;
  display: none;
  text-align: center;
}

.groupContainer {
  position: absolute;
  top: 0.97px;
  left: 0;
  width: 162px;
  height: 15.03px;
}

.faceplateExpandableSectionH {
  position: absolute;
  width: calc(100% - 35px);
  top: 93px;
  right: 23px;
  left: 12px;
  height: 16px;
  font-size: 9px;
}

.separator1 {
  position: absolute;
  width: 100%;
  top: 119px;
  right: 0;
  left: 0;
  border-bottom: 0.8px solid rgba(90, 90, 90, 0.2);
  box-sizing: border-box;
  height: 1px;
  overflow: hidden;
}

.faceplateExpandableSectionH1 {
  position: absolute;
  top: 2px;
  left: 0;
  letter-spacing: 0.9px;
  line-height: 12px;
  display: flex;
  align-items: center;
  width: 65.27px;
  height: 10.5px;
}

.faceplateExpandableSectionHIcon {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% + 66px);
  width: 15px;
  height: 15px;
  overflow: hidden;
}

.faceplateExpandableSectionHParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 162px;
  height: 15px;
  font-size: 9px;
  color: #0c151c;
}

.faceplateExpandableSectionHIcon1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 40.93px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.faceplateExpandableSectionH2 {
  position: absolute;
  top: 0;
  left: 21px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 60.86px;
  height: 15px;
}

.faceplateExpandableSectionHGroup {
  position: absolute;
  top: calc(50% + 21.5px);
  left: calc(50% - 66px);
  width: 81.86px;
  height: 16px;
  display: none;
  font-size: 10.34px;
}

.faceplateExpandableSectionHIcon2 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 32.46px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.faceplateExpandableSectionH3 {
  position: absolute;
  top: 0;
  left: 21px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 43.92px;
  height: 15px;
}

.faceplateExpandableSectionHContainer {
  position: absolute;
  top: calc(50% + 51.5px);
  left: calc(50% - 66px);
  width: 64.92px;
  height: 16px;
  display: none;
}

.faceplateExpandableSectionHIcon3 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 21.38px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.faceplateExpandableSectionH4 {
  position: absolute;
  top: 0;
  left: 21px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 21.75px;
  height: 15px;
}

.faceplateExpandableSectionHParent1 {
  position: absolute;
  top: calc(50% + 81.5px);
  left: calc(50% - 66px);
  width: 42.75px;
  height: 16px;
  display: none;
}

.faceplateExpandableSectionHIcon4 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 21.09px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.faceplateExpandableSectionH5 {
  position: absolute;
  top: 0;
  left: 21px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 21.17px;
  height: 15px;
}

.faceplateExpandableSectionHParent2 {
  position: absolute;
  top: calc(50% + 111.5px);
  left: calc(50% - 66px);
  width: 42.17px;
  height: 16px;
  display: none;
}

.faceplateExpandableSectionHIcon5 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 29.25px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.faceplateExpandableSectionH6 {
  position: absolute;
  top: 0;
  left: 21px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 37.5px;
  height: 15px;
}

.faceplateExpandableSectionHParent3 {
  position: absolute;
  top: calc(50% + 141.5px);
  left: calc(50% - 66px);
  width: 58.5px;
  height: 16px;
  display: none;
}

.faceplateExpandableSectionHIcon6 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 24px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.faceplateExpandableSectionH7 {
  position: absolute;
  top: 0;
  left: 21px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 27px;
  height: 15px;
}

.faceplateExpandableSectionHParent4 {
  position: absolute;
  top: calc(50% + 171.5px);
  left: calc(50% - 66px);
  width: 48px;
  height: 16px;
  display: none;
}

.seeMore1 {
  position: absolute;
  top: 0.75px;
  left: calc(50% - 20.26px);
  line-height: 22.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40.67px;
  height: 22.5px;
}

.faceplateExpandableSectionH8 {
  position: absolute;
  top: 205px;
  left: -6px;
  border-radius: 749.25px;
  width: 57.02px;
  height: 24px;
  overflow: hidden;
  display: none;
  text-align: center;
  font-size: 9px;
}

.groupParent2,
.nav {
  position: absolute;
  height: 15px;
}

.groupParent2 {
  top: 0;
  left: 0;
  width: 162px;
}

.nav {
  width: calc(100% - 34px);
  top: 131px;
  right: 22px;
  left: 12px;
}

.filters {
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  width: 100%;
  height: 170px;
  overflow: hidden;
  text-align: left;
  font-size: 10.5px;
  color: #000;
  font-family: Montserrat;
}
