.text {
  line-height: 27px;
  align-items: center;
  /* height: 79px; */
  /* margin: 20px; */
}

.postImages {
  border-radius: 15px;
  width: 500px;
  /* height: 260px; */
  object-fit: cover;
  margin: 20px auto;
  display: block;
}

.postName {
  font-size: 24px;
  line-height: 27px;
  color: #0f1a1c;
}

.ownerName {
  line-height: 27px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.postcard {
  padding: 25px 30px;
  background-color: #fff;
  position: relative;
  border-radius: 12px;
  width: 100%;
  height: auto;
  text-align: justify;
  font-size: 16px;
  color: #000;
  font-family: Montserrat;
  margin-bottom: 20px;
}
